.profile-photo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 6px;
    margin-left: -84px;
}

.profile-photo img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.nav-img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.profile-link-nav a {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.profile-link-nav a:link {
    text-decoration: none;
}
  
.profile-link-nav a:visited {
    text-decoration: none;
}

.current-user-name {
    color: black;
    font-weight: 550;
    margin-left: 5px;
}

.comment-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: -18px;
    margin-right: 7px;
    margin-top: 2px;
}

.commentor-name a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 550;
}