.modal-child-edit {
    width: 500px;
    background: rgb(248, 247, 247);
    border-radius: 10px;
    padding: 16px;
    margin-top: 200px;
    margin-left: 450px;
}

.post-form-modal textarea {
    border: none;
    padding: 10px;
    background-color: rgb(248, 247, 247);
}